.carousel {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}


.slide {
	padding: 20px;
	text-align: justify;
	
	h2 {
		margin-bottom: 10px;
	}

}

.lime {
	background-color: lime;
}

.blue {
	background-color: royalblue;
}