@import 'components/constans';
@import 'components/colors';

.header {
  background-color: var(--menu-background);
  border: 1px solid var(--menu-border);
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.list {
  list-style: none;
  display: grid;
  gap: 2rem;
  @media(min-width: getBreakpoint(mobile)) {
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient($gold-500, $red-500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}