@import 'components/constans';
@import 'components/colors';

$gap: 16px;

.container {
  padding: $gap;
}

.header {
  background-color: var(--menu-background);
  border: 1px solid var(--menu-border);
  margin: $gap 0;
  padding: $gap;
}

.list {
  list-style: none;
  display: grid;
  gap: $gap;
  @media(min-width: getBreakpoint(mobile)) {
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  background: linear-gradient($gold-500, $red-500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}