@import 'components/constans';

.item {
  a {
    display: block;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    color: var(--navigation-link-font-color);

    &:hover,
    &:focus {
      color: var(--navigation-link-font-color-hover);
      background-color: var(--navigation-link-background-hover);
    }

    &:focus-visible {
      background-color: var(--navigation-link-background-hover);
      @include focusOutline;
    }
  }
}
