@import 'components/colors';

.container {
  border: none;

  & + & {
    margin-top: 2rem;
  }
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(40% - 1rem), 1fr));
  gap: 1rem;
}

.legend {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.errorContainer {
  display: block;
  min-height: 21px;
  margin-bottom: 0.5rem;
  color: $red-500;
  font-size: 1.75rem;
  font-weight: bold;
}
