@import 'components/themes';
@import 'components/colors';

.container {
	position: relative;
}

.section {
	position: sticky;
	top: calc(60px + 1rem);
	background-color: var(--menu-background);
	border: 1px solid var(--menu-border);
	border-radius: 1rem;
	padding: 2rem;
}

.price {
	font-size: 2.4rem;
	strong {
		color: $red-400;
	}
}

.list {
	list-style-position: inside;
	li {
		display: flex;
		
    &::marker {
      display: block;
      width: 6px;
      height: 6px;
      background-color: black;
		}
	}
}

.button {
	width: 100%;
}
