@import 'components/constans';

.container {
    @include row(space-between, center);
    background-color: var(--navigation-background);
	border-bottom: 1px solid var(--navigation-border);
    height: 60px;
    position: sticky;
    top: 0;
	@include zIndex(Nav);
}