@import 'components/constans';
@import 'components/colors';

.item {
  @include col(center);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--menu-border);
  background-color: var(--menu-background);
}
.row {
  @include row(center, baseline);
  margin: 1rem 0;
  &:last-of-type {
    margin-top: auto;
  }
}

.image {
  width: 260px;
  height: 220px;
}
.name {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: $red-400;
  font-size: 2.5rem;
}
.price {
  font-weight: 700;
  letter-spacing: 1px;
}
.icon {
  @include row(center, center);
  margin: 0 1rem;
  font-weight: 700;
}
.bestseller {
  color: $gold-500;
}
.new {
  color: $blue-600;
}
.spicy {
  color: $red-500;
}
.vege {
  color: $green-600;
}
