@import 'components/constans';

.filters {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--menu-background);
  border: 1px solid var(--menu-border);
  border-radius: 1rem;

  @media (min-width: getBreakpoint(mobile)) {
    flex-direction: row;
  }
}

.button {
  margin: 0 0 1rem 0;
  &:last-child {
    margin: 0;
  }
  
  @media (min-width: getBreakpoint(mobile)) {
    margin: 0 2rem 0 0;
    &:last-child {
      margin: 0;
    }
  }
}
