@import 'components/constans';

.container {
  display: grid;
  gap: 4rem;
  @media(min-width: getBreakpoint(mobile)) {
    grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  }
}

.tile {
  @include col(center);
  padding: 4rem;
}

.image {
  display: block;
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.title {
  text-transform: capitalize;
  text-decoration: dotted;
  margin-bottom: 2rem;
}

.description {
  text-align: center;
}