$z-index-order-list: Negative, Zero, Positive, Hint, Nav, Modal;

@function z($el) {
	@return index($z-index-order-list, $el) - 2;
}

@mixin zIndex($el) {
	z-index: z($el);
}

$breakpoints: (
	tablet: 800px,
	laptop: 1024px,
	desktop: 1280px,
);

@function getBreakpoint($key) {
	@return map-get($breakpoints, $key);
}

@mixin focusOutline {
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	outline-color: var(--body-outline);
}

@mixin row($horizontal-align: center, $vertical-align: center) {
	display: flex;
	flex-direction: row;
	justify-content: $horizontal-align;
	align-items: $vertical-align;
}

@mixin col($horizontal-align: center, $vertical-align: center) {
	display: flex;
	flex-direction: column;
	justify-content: $vertical-align;
	align-items: $horizontal-align;
}