@import 'components/colors';

$light-theme: (
	body: (
		background: $white,
		outline: $black,
	),
	button-primary: (
		background: $blue-500,
		background-hover: $blue-200,
		border: $blue-500,
		border-hover: $blue-700,
		font-color: $white,
		font-color-hover: $blue-700,
	),
	button-icon: (
		background: transparent,
		background-hover: $blue-200,
		border: $blue-500,
		border-hover: $blue-700,
		font-color: $blue-500,
		font-color-hover: $blue-700,
	),
	navigation: (
		background: withOpacity($white, 0.7),
		shadow: $gray-100,
		list-background: $white,
		list-shadow: withOpacity($black, 0.2),
		link-font-color: $gray-800,
		link-font-color-hover: $gray-800,
		link-background-hover: $gray-100,
	),
);

$dark-theme: (
	body: (
		background: $blue-900,
		outline: $white,
	),
	button-primary: (
		background: $blue-500,
		background-hover: $blue-700,
		border: $blue-500,
		border-hover: $blue-300,
		font-color: $white,
		font-color-hover: $blue-300,
	),
	button-icon: (
		background: transparent,
		background-hover: $blue-700,
		border: $blue-500,
		border-hover: $blue-300,
		font-color: $blue-500,
		font-color-hover: $blue-300,
	),
	navigation: (
		background: withOpacity($blue-800, 0.7),
		shadow: $gray-100,
		list-background: $blue-800,
		list-shadow: withOpacity($black, 0.4),
		link-font-color: $white,
		link-font-color-hover: $white,
		link-background-hover: $blue-700,
	),
);

@mixin spread-map($map: ()) {
	@each $type, $type-map in $map {
		@each $key, $value in $type-map {
			--#{$type}-#{$key}: #{$value};
		}
	}
}
