@import './themes';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif
}

[data-theme="light"] {
	@include spread-map($light-theme);
}

[data-theme="dark"] {
	@include spread-map($dark-theme);
}

body {
	background-color: var(--body-background);
}