@import 'components/themes';
@import 'components/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

[data-theme="light"] {
  @include spread-map($light-theme);
  color-scheme: light;
}

[data-theme="dark"] {
  @include spread-map($dark-theme);
  color-scheme: dark;
}

body {
  background-color: var(--body-background);
  color: var(--body-font-color);
}